$background: #ece4e4;
$main: #253451;
$contrast: #f07820;
$contrast-darken: darken($contrast, 5%);
$secundary: #515054;
$text-secundary: darken($secundary, 20%);
$text: #000000;

$legacy: #dd2f44;
$legacy-darken: darken(#dd2f44, 5%);
