@import 'colors';
@import 'media_queries';

/* Block 1 */
#honeycomb {
	display: grid;
	gap: 0;
	margin-top: 1rem;

	grid-template-areas:
		'row-1'
		'row-2'
		'row-3';

	align-items: center;
	justify-items: center;

	.hexa-row {
		position: static;

		display: flex;
		flex-direction: column;
		column-gap: 4rem;

		@include md() {
			flex-direction: row;
			gap: 0;
			margin-bottom: 0;

			&:first-of-type {
				margin-top: 0;
			}

			margin-top: -4rem;
		}

		a {
			text-decoration: none;
			width: 14rem;

			@include md() {
				margin-right: 0.35rem;
				margin-left: 0.35rem;
			}

			img {
				width: 14rem;
				transition: 200ms ease;

				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}
}
