@import 'colors';
@import 'media_queries';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
	font-size: 16px;
	font-family: 'Open Sans';
}

body {
	background-color: $background;
	color: $text;
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	background-color: $main;

	display: flex;
	flex-direction: row;
	align-items: center;

	img {
		height: 5rem;
		margin: 0.5rem 0rem 0.5rem 3rem;
	}
}
