@import 'colors';
@import 'media_queries';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
	font-size: 16px;
	font-family: 'Open Sans';
}

body {
	background-color: $background;
	color: $text;
	margin: 0;
	padding: 0;
}

header {
	padding: 1rem;
	background-color: $main;
}

#header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	padding: 0 0.5em;

	img {
		height: 4rem;
		content: url('/static/cme/icons/icons/icon.png');

		@include sm() {
			content: url('/static/cme/icons/icons/logo.png');
		}
	}

	#buttons {
		display: none;

		@include sm() {
			display: block;
		}
	}
}

.btn-contrast {
	display: inline-block;
	outline: none;
	cursor: pointer;
	border-radius: 500px;
	transition-property: background-color, border-color, color, box-shadow, filter;
	transition-duration: 0.3s;
	border: 1px solid transparent;
	letter-spacing: 1px;
	min-width: 160px;
	text-transform: uppercase;
	white-space: normal;
	font-weight: 700;
	text-align: center;
	padding: 16px 14px 18px;
	color: #fff;
	background-color: $contrast;
	height: 48px;

	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;

	text-decoration: none;

	&:hover {
		background-color: $contrast-darken;
	}
}

.btn-transparent {
	transition: all 0.5s ease;
	color: #fff;
	border: 2px solid white;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	line-height: 1;
	font-size: 1em;
	background-color: transparent;
	padding: 10px;
	outline: none;
	border-radius: 0.5rem;

	&:hover {
		color: #001f3f;
		background-color: #fff;
	}
}
