@import 'colors';
@import 'media_queries';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
	font-size: 16px;
	font-family: 'Open Sans';
}

body {
	background-color: $background;
	color: $text;
	margin: 0;
	padding: 0;
}

header {
	padding: 0.5em;
	background-color: $main;
}

.navbar {
	img {
		height: 4rem;
		content: url('/static/cme/icons/icons/icon.png');

		@include sm() {
			content: url('/static/cme/icons/icons/logo.png');
		}
	}
}

.navbar-collapse {
	justify-content: flex-end;
	align-items: center !important	;

	ul {
		*,
		:not(:first-child) {
			margin-left: 0;

			@include xl() {
				margin-left: 0.5em;
			}
		}

		&:first-child {
			margin-top: 2rem;

			@include xl() {
				margin-top: 0;
			}
		}

		&:last-child {
			margin-bottom: -1rem;

			@include xl() {
				margin-bottom: 0;
			}
		}
	}
}

.btn-contrast {
	display: inline-block;
	outline: none;
	cursor: pointer;
	border-radius: 500px;
	transition-property: background-color, border-color, color, box-shadow, filter;
	transition-duration: 0.3s;
	border: 1px solid transparent;
	letter-spacing: 1px;
	min-width: 160px;
	text-transform: uppercase;
	white-space: normal;
	font-weight: 700;
	text-align: center;
	padding: 1em 0.9em;
	color: #fff;
	background-color: $contrast;
	// height: 48px;

	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;

	text-decoration: none;

	&:hover {
		background-color: $contrast-darken;
	}
}

.btn-transparent {
	transition: all 0.5s ease;
	color: #fff;
	border: 2px solid white;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	line-height: 1;
	font-size: 1em;
	background-color: transparent;
	padding: 10px;
	outline: none;
	border-radius: 0.5rem;

	&:hover {
		color: #001f3f;
		background-color: #fff;
	}
}

.alert {
	width: 100%;
	padding: 12px 16px;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 12px;
	font-size: 16px;
}

.alert.alert-success {
	background-color: rgba(227, 253, 235, 1);
	border-color: rgba(38, 179, 3, 1);
	color: rgba(60, 118, 61, 1);
}

.alert.alert-info {
	background-color: rgba(217, 237, 247, 1);
	color: rgba(49, 112, 143, 1);
	border-color: rgba(126, 182, 193, 1);
}

.alert.alert-warning {
	background-color: rgba(252, 248, 227, 1);
	border-color: rgba(177, 161, 129, 1);
	color: rgba(138, 109, 59, 1);
}

.alert.alert-danger {
	background-color: rgba(248, 215, 218, 1);
	border-color: rgba(220, 53, 69, 1);
	color: rgba(114, 28, 36, 1);
}
