{% extends 'cme/layout.html' %} {% load static %}

<!-- Title -->
{% block title %}Registrarse{% endblock title %}

<!-- CSS -->
{% block css %}
<link rel="stylesheet" href="{% static 'cme/css/login.css' %}" />
{% endblock css %}

<!-- JS -->
{% block js %}
<script src="{% static 'cme/js/capture.js' %}"></script>
{% endblock js %}

<!-- Main -->
{% block main %}
<div id="container">
	<h1>Obtener acceso al Coeficiente de Madurez Empresarial</h1>

	<div class="alert alert-danger" {% if not msg %}hidden{% endif %}>{% if msg %} {{ msg }} {% endif %}</div>

	<form action="{% url 'cme:capture' %}" method="post" class="form">
		{% csrf_token %}
		<div class="form_group">
			<input class="form_field" type="text" name="first" placeholder="Nombre" id="firstInput" maxlength="150" required />
			<label class="form_label" for="firstInput">Nombre</label>
		</div>

		<div class="form_group">
			<input class="form_field" type="text" name="last" placeholder="Apellido" id="lasttInput" maxlength="150" required />
			<label class="form_label" for="lasttInput">Apellido</label>
		</div>

		<div class="form_group">
			<input class="form_field" type="email" name="email" placeholder="Email" id="emailInput" required />
			<label class="form_label" for="emailInput">Email</label>
		</div>

		<div class="form_group">
			<input class="form_field" type="text" name="role" placeholder="Puesto de trabajo" id="roleInput" required />
			<label class="form_label" for="roleInput">Puesto de trabajo</label>
		</div>

		<div class="form_group">
			<input class="form_field" type="text" name="company" placeholder="Empresa" id="companyInput" required />
			<label class="form_label" for="companyInput">Empresa</label>
		</div>

		<div>
			<input type="submit" id="submit-form" hidden />
			<button id="download-pdf" class="btn-contrast">Obtener folleto</button>
		</div>

		<div>
			<span>¿Ya han aprovado tu solicitud? <a href="{% url 'cme:login' %}">Inicia sesión</a></span>
		</div>
	</form>
</div>
{% endblock main %}
