{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie-edge" />
		<meta name="description" content="Autoevaluación de coeficiente de madurez empresarial, hecho por Innovarum" />
		<title>{% block title %}Innovarum CME{% endblock title %}</title>
		<link rel="shortcut icon" href="{% static 'cme/icons/icons/ico.png' %}" type="image/x-icon" />

		<link rel="stylesheet" type="text/css" href="{% static 'cme/css/styles.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'cme/css/radios.css' %}" />
		{% block css %} {% endblock css %}
	</head>
	<body>
		<header>
			<img src="{% static 'cme/icons/icons/logo.png' %}" alt="logo" />
		</header>
		<main>{% block main %} {% endblock main %}</main>
		{% block js %} {% endblock js %}
	</body>
</html>
