{% load static %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie-edge" />
		<meta name="description" content="Autoevaluación de coeficiente de madurez empresarial, hecho por Innovarum" />
		<title>{% block title %}Innovarum CME{% endblock title %}</title>
		<link rel="shortcut icon" href="{% static 'cme/icons/icons/ico.png' %}" type="image/x-icon" />

		<link rel="stylesheet" type="text/css" href="{% static 'cme/css/styles.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'cme/css/radios.css' %}" />
		{% block css %} {% endblock css %}
	</head>
	<body>
		<header>
			<div id="header">
				<img alt="logo" />
				<div id="buttons">
					{% if user.is_superuser %}
					<a href="{% url 'cme:register' %}" class="btn-transparent">Registrar Usuario</a>
					<a href="/admin/" class="btn-transparent" style="margin-left: 1rem">Admin</a>
					<a href="{% url 'cme:create_survey' %}" class="btn-transparent" style="margin-left: 1rem">Crear encuesta</a>
					{% endif %}

					<!-- Check if user is authenticated -->
					{% if user.is_authenticated %}
					<a href="{% url 'cme:logout' %}" class="btn-transparent" style="margin-left: 1rem">Cerrar Sesión</a>
					<button class="btn-transparent" style="margin-left: 1rem" disabled>{{ user.first }} {{ user.last }}</button>
					{% endif %}
				</div>
			</div>
		</header>
		<main>{% block main %} {% endblock main %}</main>
		{% block js %} {% endblock js %}
	</body>
</html>
