{% extends 'cme/layout.html' %} {% load static %}

<!-- Title -->
{% block title %}Registrarse{% endblock title %}

<!-- CSS -->
{% block css %}
<link rel="stylesheet" href="{% static 'cme/css/login.css' %}" />
{% endblock css %}

<!-- Main -->
{% block main %}

<!-- Message -->
{% if message %} {{ message|json_script:'message' }}
<script>
	alert(JSON.parse(document.getElementById('message').textContent));
</script>
{% endif %}

<div id="container">
	<h1>Registrar usuario nuevo</h1>

	<div class="alert alert-danger" {% if not msg %}hidden{% endif %}>{% if msg %} {{ msg }} {% endif %}</div>

	<form action="{% url 'cme:register' %}" method="post" class="form">
		{% csrf_token %}
		<div class="form_group">
			<input class="form_field" type="email" name="email" placeholder="Email" id="emailInput" required />
			<label class="form_label" for="emailInput">Email</label>
		</div>

		<div class="form_group">
			<input class="form_field" type="text" name="first" placeholder="Nombre" id="firstInput" maxlength="150" required />
			<label class="form_label" for="firstInput">Nombre</label>
		</div>

		<div class="form_group">
			<input class="form_field" type="text" name="last" placeholder="Apellido" id="lasttInput" maxlength="150" required />
			<label class="form_label" for="lasttInput">Apellido</label>
		</div>

		<div class="form_group">
			<input class="form_field" type="text" name="role" placeholder="Puesto de trabajo" id="roleInput" required />
			<label class="form_label" for="roleInput">Puesto de trabajo</label>
		</div>

		<div class="form_group">
			<input class="form_field" type="text" name="password" placeholder="Contraseña" id="passwordInput" required />
			<label class="form_label" for="passwordInput">Contraseña</label>
		</div>

		<div>
			<input type="checkbox" name="is_staff" value="True" placeholder="¿Es Staff?" id="staffInput" />
			<label for="staffInput">¿Es Staff?</label>
		</div>

		<div>
			<input type="checkbox" name="is_admin" value="True" placeholder="¿Es Admin?" id="adminInput" />
			<label for="adminInput">¿Es Admin?</label>
		</div>

		<div>
			<input type="checkbox" name="cme_access" value="True" placeholder="¿Acceso al CME?" id="cmeInput" />
			<label for="cmeInput">¿Acceso al CME?</label>
		</div>

		<div>
			<input type="checkbox" name="legacy_access" value="True" placeholder="¿Acceso a Legacy?" id="legacyInput" />
			<label for="legacyInput">¿Acceso a Legacy?</label>
		</div>

		<div>
			<input type="checkbox" name="training_access" value="True" placeholder="¿Acceso a Training?" id="trainingInput" />
			<label for="trainingInput">¿Acceso a Training?</label>
		</div>

		<div>
			<input type="submit" value="Registrar Usuario" class="btn-contrast" />
		</div>
	</form>
</div>
{% endblock main %}
