{% extends 'cme/layout.html' %} {% load static %}

<!-- Title -->
{% block title %}{{ survey }}{% endblock title %}

<!-- CSS -->
{% block css %}
<link rel="stylesheet" href="{% static 'cme/css/block_3.css' %}" />
<link rel="stylesheet" href="{% static 'cme/css/block_4.css' %}" />
{% endblock css %}

<!-- JS -->
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'cme/js/score.js' %}"></script>
{% endblock js %}

<!-- Main -->
{% block main %}
<div id="container">
	<!-- Survey -->
	<form id="survey">
		<!-- Title for the survey -->
		<div id="title">
			<h1>{{ module_name }}</h1>
			<h2>Sector {{ type }}</h2>
		</div>

		<!-- Blocks -->
		<ol id="blocks">
			{% for block in survey.blocks.all %}
			<div class="block-group">
				<div class="block-header">
					<li class="block-title">{{ block.name }}</li>
					<div class="yes-no">
						<span>&#160;&#160;No (0 pts.)</span>
						<span>&#160;Si (4 pts.)</span>
					</div>
				</div>

				<ol class="question-group">
					{% for question in block.questions.all %}
					<div class="question">
						<li class="question-text">{{ question }}</li>
						<div class="yes-no">
							<input type="radio" name="{{ question.id }}" class="no radio" {% if debug %} required {% endif %} aria-required="true" />
							<input type="radio" name="{{ question.id }}" class="si radio" {% if debug %} required {% endif %} aria-required="true" />
						</div>
					</div>
					{% endfor %}

					<strong>Calificación: <span class="score">0</span>/20 pts.</strong>
				</ol>
			</div>
			{% endfor %}
		</ol>

		<!-- Submit form -->
		<div id="submit">
			<input type="submit" value="Enviar formulario" class="btn-contrast" />
		</div>
	</form>

	<div id="result">
		<!-- Results -->
		<div id="score-container">
			<h1 id="results"></h1>
			<ol></ol>
		</div>

		<!-- Graph -->
		<div id="graph-container">
			<h1>{{ survey }}</h1>
			<canvas id="graph"></canvas>
		</div>

		<form id="next" action="{% url 'cme:thanks' %}">
			<input type="submit" class="btn-contrast" value="Continuar" />
		</form>
	</div>
</div>
{% endblock main %}
