{% extends 'training/index.html' %} {% load static %}

<!-- JS -->
{% block js %}
<script src="{% static 'training/js/create_course.js' %}" type="module"></script>
{% endblock js %}

<!-- Main -->
{% block main %}
<div class="form-container w-100">
	<h1 class="title">Crear Curso</h1>

	{% if message %} {{ message|json_script:'message' }}
	<script>
		alert(JSON.parse(document.getElementById('message').textContent));
	</script>
	{% endif %}

	<form action="{% url 'training:create' %}" method="post">
		{% csrf_token %}

		<!-- Course -->
		<h2>Nombre del curso</h2>
		<div class="form_group field">
			<input class="form_field" type="text" name="course" id="courseInput" placeholder="Nombre" />
			<label class="form_label" for="courseInput">Nombre</label>
		</div>

		<div class="form_group field">
			<input class="form_field" type="text" name="course_img" id="courseImgInput" placeholder="Nombre del archivo de imagen" />
			<label class="form_label" for="courseImgInput">Nombre del archivo de imagen</label>
		</div>

		<div class="modules-container">
			<div class="add-remove">
				<h2>Modules</h2>
				<div data-module="true">
					<span class="add">&plus;</span>
					<span class="remove disabled">&minus;</span>
				</div>
			</div>

			<!-- Modules -->
			<div class="modules">
				<div class="module" data-index="1">
					<div class="form_group field">
						<input class="form_field" type="text" name="module" id="module-1-Input" placeholder="Módulo 1" />
						<label class="form_label" for="module-1-Input">Módulo 1</label>
					</div>

					<!-- Files -->
					<div class="trio-container">
						<div class="add-remove">
							<h4>Archivos</h4>
							<div>
								<span class="add">&plus;</span>
								<span class="remove disabled">&minus;</span>
							</div>
						</div>

						<!-- File -->
						<div class="file" data-index="1">
							<!-- Name -->
							<div class="form_group field">
								<input class="form_field" type="text" name="name-1" id="name-1-1-input" placeholder="Nombre" />
								<label class="form_label" for="name-1-1-input">Nombre</label>
							</div>

							<!-- URL -->
							<div class="form_group field">
								<input class="form_field" type="url" name="file-1" id="file-1-1-input" placeholder="URL" />
								<label class="form_label" for="file-1-1-input">URL</label>
							</div>

							<!-- Type -->
							<div class="form_group">
								<select name="type-1" class="form_field">
									<option>Tipo de archivo</option>
									<option value="1">PDF/Texto</option>
									<option value="2">Video</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div>
			<input type="submit" value="Subir" class="btn-contrast" />
		</div>
	</form>
</div>
{% endblock main %}
