.form-container {
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow: auto;
}
@media only screen and (max-width: 576px) {
  .form-container {
    margin-bottom: 6rem;
  }
}
.form-container .btn-contrast {
  background-color: #dd2f44;
}
.form-container .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  margin: auto;
}
.form-container .form .btn-contrast {
  margin-top: 1rem;
}

/* Quiz and course */
h2 {
  margin: 1.3em 0 0;
}

h3 {
  margin: 1.5em 0 -0.5em;
}

h4 {
  margin: 1.5em 0 0;
  font-size: larger;
}

.w-100 {
  width: 70%;
}
@media only screen and (max-width: 768px) {
  .w-100 {
    width: 90%;
  }
}
@media only screen and (max-width: 576px) {
  .w-100 {
    width: 100%;
  }
}

.add-remove {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.add-remove .remove {
  margin-right: 0.5em;
}
.add-remove .add,
.add-remove .remove {
  font-size: x-large;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: all 200ms ease;
}
.add-remove .add:hover, .add-remove .add:focus,
.add-remove .remove:hover,
.add-remove .remove:focus {
  color: #dd2f44;
  text-decoration: none;
  cursor: pointer;
}
.add-remove .disabled {
  color: gray;
}
.add-remove .disabled:hover, .add-remove .disabled:focus {
  color: gray;
  text-decoration: none;
  cursor: default;
}
.add-remove + .form_group {
  margin-top: 0;
}

.answer-container {
  margin-left: 1.5em;
}

/* Form */
.form_group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form_field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #000000;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form_field::-moz-placeholder {
  color: transparent;
}
.form_field:-ms-input-placeholder {
  color: transparent;
}
.form_field::placeholder {
  color: transparent;
}
.form_field:-moz-placeholder-shown ~ .form_label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.form_field:-ms-input-placeholder ~ .form_label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.form_field:placeholder-shown ~ .form_label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form_label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form_field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, #dd2f44, #d02237);
     border-image: linear-gradient(to right, #dd2f44, #d02237);
  border-image-slice: 1;
}
.form_field:focus ~ .form_label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #dd2f44;
  font-weight: 700;
}

/* reset input */
.form_field:required, .form_field:invalid {
  box-shadow: none;
}

.end-text {
  text-align: center;
  margin: 1em 0;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type=checkbox],
input[type=radio] {
    --active: #275efe;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #275efe;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  input[type=checkbox]:after,
input[type=radio]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  input[type=checkbox]:checked,
input[type=radio]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  input[type=checkbox]:disabled,
input[type=radio]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  input[type=checkbox]:disabled:checked,
input[type=radio]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type=checkbox]:disabled + label,
input[type=radio]:disabled + label {
    cursor: not-allowed;
  }
  input[type=checkbox]:hover:not(:checked):not(:disabled),
input[type=radio]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  input[type=checkbox]:focus,
input[type=radio]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  input[type=checkbox]:not(.switch),
input[type=radio]:not(.switch) {
    width: 21px;
  }
  input[type=checkbox]:not(.switch):after,
input[type=radio]:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type=checkbox]:not(.switch):checked,
input[type=radio]:not(.switch):checked {
    --o: 1;
  }
  input[type=checkbox] + label,
input[type=radio] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }

  input[type=checkbox]:not(.switch) {
    border-radius: 7px;
  }
  input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }
  input[type=checkbox].switch {
    width: 38px;
    border-radius: 11px;
  }
  input[type=checkbox].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }
  input[type=checkbox].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type=checkbox].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }

  input[type=radio] {
    border-radius: 50%;
  }
  input[type=radio]:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }
  input[type=radio]:checked {
    --s: 0.5;
  }
}/*# sourceMappingURL=forms.css.map */